:root{
    /*color palette*/
    --cp-black: #000000;
    --cp-navy: #14213d;
    --cp-gold: #fca311;
    --cp-ltGrey: #e5e5e5;
    --cp-white: #ffffff;
}
body{
    background-color: var(--cp-black);
    color: var(--cp-white);
}
#map{
    width: 100%;
    height: 400px;
}
#resultData{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.data-card{
    border: 5px solid;
    border-color: var(--cp-navy);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1, h3{
    text-align: center;
    color: var(--cp-gold)
}
#secrets{
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    z-index: 99;
}
p {
    margin: 5px;
}
input .mapboxgl-ctrl{
    display: none;
    z-index: 99;
    position: absolute;
    left: 0;
    right: 0;
}

